 h3 {
  color: #000000;
  text-decoration: overline underline 10px green dotted;
  letter-spacing: -1px;
  word-spacing: 10px;
  text-shadow: 4px 4px 5px gold;
}

body {
  background-color: PowderBlue;
}   

img:hover {
  width: 300px;
  border: dotted green 10px
}

h3:hover {
  text-decoration: underline wavy green 10px;
  font-size: 200%;
  text-transform: uppercase;
}

nav {
  list-style-type: none;
  background-color: #333;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  color: white;
  display: block;
  float: left;
  padding: 15px 50px;
}

li a:hover {
  background-color: purple;
  color: green;
}
