 h3 {
  color: #000000;
  text-decoration: overline underline 10px #663399 dotted;
  letter-spacing: -1px;
  word-spacing: 10px;
  text-shadow: 2px 2px 3px pink;
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  background-color: #DCDCDC;
}   

img:hover {
  width: 800px;
  border: solid #663399 10px;
}

h3:hover {
  text-decoration: underline #663399 10px;
  font-size: 150%;
  text-transform: uppercase;
}

nav {
  list-style-type: none;
  background-color: #333;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

li {
  float: left;
  
}

li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 15px 30px;
  font-family: "Lucida Console", "Courier New", monospace;
}

li a:hover {
  background-color: #111;
}

li a:active {
  background-color: #663399;
}
